/* -- Colores -- */
$colores: (
    mainBlue: $colorMainBlue,
    mainDarkblue: $colorMainDarkblue,
    blue: $colorBlue,
    lightblue: $colorLightblue,
    ultralightblue: $colorUltralightblue,
    darkblue: $colorDarkblue,
    light: $colorLight,
    ultralight: $colorUltralight
    );

.bkg-light {
    background-color: map-get($colores, ultralight);
    border-color: map-get($colores, ultralight);
}
.bkg-blue {
    background-color: map-get($colores, blue);
    border-color: map-get($colores, blue);
}
.bkg-lightblue {
    background-color: map-get($colores, ultralightblue);
    border-color: map-get($colores, ultralightblue);
}
.bkg-darkblue {
    background-color: map-get($colores, darkblue);
    border-color: map-get($colores, darkblue);
}
.border-blue {
    border-color: map-get($colores, blue);
}
.border-lightblue {
    border-color: map-get($colores, ultralightblue);
}
.border-darkblue {
    border-color: map-get($colores, darkblue);
}
.color-blue {
    color: map-get($colores, blue);
}
.color-lightblue {
    color: map-get($colores, ultralightblue);
}
.color-darkblue {
    color: map-get($colores, darkblue);
}
