/* -- Header -- */
.header .header-inner {
	height: 8rem;
	background: rgba(0,77,135,.8);;
	border-bottom: none;
	box-shadow: 0px 4px 15px rgba(23,58,88,.3);
	backdrop-filter: blur(15px);
}
.header .logo {
    width: 20rem;
	height: 8rem;
    a {
        position: absolute;
        top: 0;
    }
}
.header .header-inner .navigation > ul > li,
.header .header-inner .navigation > ul > li > a:not(.button) {
    height: 6rem;
}
.header .navigation {
    > ul > li {
        > a {
            margin: 0 1.5rem;
            padding-left: 0;
            padding-right: 0;
            color: #fff;
            font-size: 1.2rem;
            opacity: .5;
            border-bottom: 1px solid transparent;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.1rem;
            &:hover {
                opacity: 1;
            }
        }
        &.current > a {
            opacity: 1;
            border-color: #fff;
            &:hover {
                border-color: $colorUltralightblue;
                color: $colorUltralightblue;
            }
        }
    }
    .navigation-show.nav-icon {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 960px){
	.header,
    .header .header-inner {
		height: unset !important;
	}
	.header
    .navigation .nav-icon {
		color: #fff;
		opacity: .5;
	}
	.header .navigation .nav-icon:hover {
		opacity: 1;
	}
}
